<launch>
  <arg name="ns" default="human1"/>
  <arg name="map_name" default="laas"/>
  <arg name="localize" default="fake"/>
  <arg name="gui" default="false"/>
  <arg name="fast_mode" default="false"/>
  <arg name="node_start_delay" default="4.0"/>
  <arg name="num_agents" default="2"/>

  <param name="/use_sim_time" value="true"/>

  <!-- Stage simulator and robot robot description -->
  <include file="$(find unity_cohan_navigation)/launch/stage_pr2_world.launch">
    <arg name="fast_mode" value="$(arg fast_mode)"/>
    <arg name="world_file" value="$(arg map_name)"/>
    <arg name="gui" value="$(arg gui)" unless="$(arg fast_mode)"/>
  </include>

  <!-- start map_server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find unity_cohan_navigation)/maps/$(arg map_name).yaml"/>

  <!-- Launch the cohan navigation node for robot along with the supporting nodes -->
  <include file="$(find unity_cohan_navigation)/launch/include/robot_only.launch">
    <arg name="node_start_delay" value="$(arg node_start_delay)" />
    <arg name="localize" value="$(arg localize)"/>
    <arg name="num_agents" value="$(arg num_agents)"/>
  </include>

  <!-- Launch the cohan navigation node for human along with the supporting nodes -->
  <include file="$(find unity_cohan_navigation)/launch/include/agent_with_ns.launch">
    <arg name="ns" value="$(arg ns)"/>
    <arg name="node_start_delay" value="$(arg node_start_delay)" />
    <arg name="localize" value="$(arg localize)"/>
    <arg name="num_agents" value="$(arg num_agents)"/>
  </include>

  <!-- Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find unity_cohan_navigation)/rviz/cohan_stage.rviz" />
</launch>
