<launch>
  <arg name="ns" default=""/>
  <arg name="node_start_delay" default="4.0" />
  <arg name="bt_xml" default="all_modes.xml"/>

  <!-- ****************************************************************************** -->
  <!-- *         Two different settings to avoid '/' in tf2 frames                  * -->
  <!-- ****************************************************************************** -->
  <group if="$(eval ''==arg('ns'))">
    <!-- move_base node with hateb -->
    <node pkg="move_base" type="move_base" name="move_base" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
      <param name="base_global_planner" value="global_planner/GlobalPlanner" />
      <param name="base_local_planner" value="hateb_local_planner/HATebLocalPlannerROS" />
      <param name="GlobalPlanner/allow_unknown" value="true" />
      <param name="bt_xml_path"  value="$(find hateb_local_planner)/behavior_trees/$(arg bt_xml)"/>
      <param name="use_simulated_fov" value="true" />
      <remap from="/cmd_vel" to="/base_controller/command"/>

      <rosparam file="$(find unity_cohan_navigation)/config/move_base_params.yaml" command="load" />
      <rosparam file="$(find unity_cohan_navigation)/config/robot/global_costmap_params.yaml" command="load" ns="global_costmap"/>
      <rosparam file="$(find unity_cohan_navigation)/config/robot/local_costmap_params.yaml" command="load" ns="local_costmap"/>
      <rosparam file="$(find unity_cohan_navigation)/config/robot/hateb_local_planner_params.yaml" command="load" ns="HATebLocalPlannerROS" />
    </node>
  </group>

  <group unless="$(eval ''==arg('ns'))">
    <!-- move_base node with hateb with namespace-->
    <node pkg="move_base" type="move_base" name="move_base" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@';">
      <remap from="map" to="/map"/>

      <param name="ns" value="$(arg ns)"/>
      <param name="base_global_planner" value="global_planner/GlobalPlanner" />
      <param name="base_local_planner" value="hateb_local_planner/HATebLocalPlannerROS" />
      <param name="GlobalPlanner/allow_unknown" value="true" />
      <param name="bt_xml_path"  value="$(find hateb_local_planner)/behavior_trees/$(arg bt_xml)"/>
      <param name="use_simulated_fov" value="true" />
      
      <rosparam file="$(find unity_cohan_navigation)/config/move_base_params.yaml" command="load" />
      <rosparam file="$(find unity_cohan_navigation)/config/human/global_costmap_params_human.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find unity_cohan_navigation)/config/human/local_costmap_params_human.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find unity_cohan_navigation)/config/human/hateb_local_planner_params_human.yaml" command="load" ns="HATebLocalPlannerROS" />

      <!-- Mapping the Frame correctly and avoid '/' in tf2 frames -->
      <param name="global_costmap/robot_base_frame" value="$(arg ns)/base_link"/>
      <param name="local_costmap/robot_base_frame" value="$(arg ns)/base_link"/>
      <param name="local_costmap/global_frame" value="$(arg ns)/odom"/>
    </node>
  </group>

</launch>
