<!-- Publish a predefined state of robot (from Stage) for RViZ -->
<launch>
  <param name="robot_description" command="cat $(find unity_cohan_navigation)/urdf/pr2.urdf" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="stage_joints" pkg="unity_cohan_navigation" type="stage_joints.py"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">["/stage_joint_states"]</rosparam>
    <param name="rate" value="50"/>
  </node>

</launch>
